@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');

*{
    margin:0;
    padding:0;
}

html, body {
    width:100%;
    height:100%;
    background-color: darkgoldenrod;
}

/*page elements*/
body{
    display:grid;
    grid-template-rows: auto 1fr auto;
    background-image: url(../images/balling.jpg);
    background-size: cover;
    font-size: 20;
    
}

nav {
    background-color: darkorchid;
}

main{
    width:100%;
    max-width:900px;
    margin-left:auto;
    margin-right:auto;
    background-color:deepskyblue;
}

footer{
    background-color:turquoise;
}